@font-face {
    font-family: Elephant Regular;
    src:url(../fonts/ELEPHNT.TTF);
}

@font-face {
    font-family: Lucida Handwriting Italic;
    src:url(../fonts/lucida-handwriting-italic.ttf);
}

@font-face {
    font-family: Myriad Pro Regular;
    src:url(../fonts/MyriadProRegular.ttf);
}
body{
    font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
#footer{
    position: relative;
    overflow-x: hidden;
}
.navbar-default {
    background-color: #466369;
}

/*.active > a {*/
    /*background-color: #384D52;*/
/*}*/
#navbarMenuTop{
    height: 72px;
    background: #466369;
    margin: -1px;
}
.content {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}
.page-header {
    margin: 0 0 20px;
}

.post-menu {
    margin: 10px;
    border-bottom: dotted 1px #DDD;
}
.post-menu-inner {
    margin-bottom: 10px;
}
.left_side{
    /*background: url(../img/Ingleside1.jpg) no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}
/**************************logo start**************************/
.property_logo {
    font-family: Elephant Regular;
    color: white !important;
    font-size: 30px;
}

.u_logo {
    color: orange !important;
    font-family: Lucida Handwriting Italic;
    font-size: 30px;
}

.property_logo1 {
    font-family: Elephant Regular;
    color: white !important;
    font-size: 30px;
}

.logo_box_2 {
    /*color: orange !important;*/
    color: white !important;
    font-family: Myriad Pro Regular !important;
    font-size: 0.94em !important;
    margin-top: 2px;
}

.logo_txt {
    max-width: 185px;
}
/**************************logo end**************************/
/**************************top menu start**************************/
.vertLine{
    border-left: #ffffff solid 2px;
}
#menu ul a{
    padding: 10px 7px;
}
.btn_login {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #ffffff;
    font-size: 12px;
    background: #8cd934;
    padding: 10px 56px 10px 55px;
    text-decoration: none;
}

.btn_login:hover {
    background: #83d12a;
    text-decoration: none;
}

.btn_account {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    color: #ffffff;
    font-size: 12px;
    background: #4791ff;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}

.btn_account:hover {
    background: #4087eb;
    text-decoration: none;
}
.nav.navbar-nav{
    margin-top: 15px;
}
/**************************top menu end**************************/
/**************************main container start**************************/
.main_row{
    padding-top: 74px
}
.main_container {
    position: fixed;
    width:60%;
    height: 100%;
    background-image: url(../img/Ingleside1.jpg);
    opacity: 0.5;
    /*height: 700px;*/
    /*position: relative;*/
    /*margin-right: 0;*/
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center !important;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}
.brand{
    bottom: 0;
}
.property_item{
    position: relative;
    padding-bottom: 15px;
}
/**************************main container end**************************/

/**************************serch item start**************************/
.main_search {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.search_item {
    display: inline-block;
    position: relative;
}
.bookmarks {
    cursor: pointer;
    position: absolute;
    right: 0.8125rem;
    top: 1.4375rem;
}
.search_item_photo {
    z-index: 1;
    position: absolute;
    bottom: 30%;
    color: #FFF;
    /*font-size: 0.75rem;*/
    font-weight: 400;
    line-height: 1rem;
    margin: 0px;
    /*padding: 0.1875rem 0.45rem;*/
    right: 85%;
    text-shadow: 0px -0.0625rem 0px rgba(0, 0, 0, 0.35);
}
.search_item_description {
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.59;
    padding: 0.3rem 0.75rem;
    position: absolute;
    width: 100%;
}
.search_item_description_box_1 {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    text-align: left;
}
.search_item_description_box_1 .item_price {
    color: #FFF;
    /*font-size: 1rem;*/
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: 0;
    text-shadow: 0px 0.0625rem 0px rgba(0, 0, 0, 0.5);
}
.search_item_description_box_1 .item_location {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.03125rem;
    line-height: 14px;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
.item_location_box_2 {
    display: block;
}
.search_item_description_box_2 {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    text-align: right;
}
.search_item_description_box_2 .item_title {
    color: #FFF;
    /*font-size: 1rem;*/
    font-weight: 400;
    line-height: 0.75rem;
    margin-bottom: 0;
    text-shadow: 0px 0.0625rem 0px rgba(0, 0, 0, 0.5);
}
.search_item_description_box_2 .item_details {
    margin-bottom: 0;
}
.item_param_1 {
    padding-right: 0.1875rem;
    border-right: 0.0625rem solid rgb(210, 213, 214);
}
.search_item_description_box_2 .item_details .item_param_3 {
    display: inline;
}
.search_item_description_box_2 .item_details .item_param_4 {
    display: block;
}
.search_item .item_id {
    display: block;
    /*font-size: 0.53125rem;*/
    font-weight: 400;
    /*line-height: 0.53125rem;*/
    /*margin-bottom: 0.5625rem;*/
    text-transform: uppercase;
}
.icon_reciprocity {
    background: url(../img/icon_reciprocity.png) no-repeat;
    background-size: cover;
    display: inline-block;
    height: 13px;
    margin-right: 2px;
    width: 15px;
}
.badge {
    background-color: #04bfde;
    border-top-right-radius: 0.78125rem;
    border-bottom-right-radius: 0.78125rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.24);
    color: #fff;
    /*font-size: 0.875rem;*/
    font-weight: 400;
    line-height: 1.142857142857143em;
    padding: 0.46875rem 0.59375rem;
    position: absolute;
    text-transform: uppercase;
}
.round{
    border-radius: 25%;
    background-color: #708e94;
}
.round i{
    margin: 3px 5px;
}
.search_item a img{
width: 100%;
}
.item{
    padding: 0;
}
.item_pad{
    padding-left: 12px;
    padding-right: 0px;
}
.right_side{
    padding-right: 0;
    height: 1500px;
}
/**************************serch item end**************************/
/**************************serch input start**************************/
.search_form{
    z-index: 1;
    margin-left: 7%;
    position: fixed;
    top: 250px;
    width: 40%;
    background: #466369;
    border-bottom: 0.0625rem solid #869da1;
    padding: 2.28125rem 2rem 2rem;
    border-radius: 10px;
}
.search_form .select_search{
    margin: -9px 0px 10px 0px;
}
.select_search .left1{
    float: left;
}
.select_search .right{
    float: right;
}
.left1 a, .right a, .refine a{
    color: white !important;
}
#search_form_res input[type=text]{
    box-shadow: none;
    height: 41px;
    border-width: 0 0 0 1px;
    border-color: #ccc;
    border-style: solid;
    font-size: .85rem;
    border-left: none;
    text-overflow: ellipsis;
    width: 100%;
}
#search_form_res2 input[type=text]{
    box-shadow: none;
    height: 41px;
    border-width: 0 0 0 1px;
    border-color: #ccc;
    border-style: solid;
    font-size: .85rem;
    border-left: none;
    text-overflow: ellipsis;
    width: 100%;
}
.refine{
    float: right;
}
.hide{
    display: none!important;
}
.hmSearFid{
    width:100%;
    border-radius: 10px;
    padding-left: 10px;
}
/**************************serch input end**************************/

@media (max-width: 991px){
    .search_form{
        position: relative;
        top:-260px;
        margin-left: 30%;
        width: 50%;
        padding: 2.28125rem 2rem 3rem;
    }
    .main_container{
        height: 400px!important;
        position: relative!important;
        width: 100%!important;
    }
    .container-fluid{
        padding: 0;
    }
    .left_side{
        padding: 0 0 15px 0;
        top:-1px;
        height: 405px;
    }
    #menu{
        background: #466369;
        float: right !important;
        overflow: hidden;
        width: 250px;
    }
    .vertLine{
        border-left: hidden;
    }
    .btn_account{
        padding: 10px 70px 10px 70px;
        margin-bottom: 10px;
    }
    .btn_login{
        padding: 10px 96px 10px 95px;
        margin-bottom: 10px;
    }
    .nav.navbar-nav li{
        border-bottom: 1px solid #71868a;
    }
    .mobile_menu{
        padding-right: 0;
    }
}
@media (max-width: 952px){
    /*.btn_account{*/
        /*margin-top: -15px;*/
    /*}*/
}
@media (min-width: 1036px){
    .menu_buttons{
        margin-top: 15px;
    }
}
@media (max-width: 1049px){
    .btn_account{
        /*margin-top: -15px;*/
    }
}
@media (max-width: 1146px){
    .nav.navbar-nav{
        font-size: 12px;
    }
}
@media (max-width: 1656px){
    .search_item_photo{
        bottom: 30%;
    }
}
@media (max-width: 1480px){
    .search_item_photo{
        bottom: 40%;
    }
}
@media (max-width: 1346px){
    .search_item_photo{
        bottom: 50%;
    }
}
@media (min-width: 1200px) and (max-width: 1232px){
    .search_item_photo{
        bottom: 50%;
    }
}
@media (max-width: 1199px){
    .search_item_photo{
        bottom: 25%;
    }
    .main_container{
        width: 69%;
    }
}
/**************************TOP NAVIGATION START**************************/
.navbar-default {
    background-color: #466369;
    border-color: #384d52;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #384d52;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ecdbff;
    background-color: #384d52;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #466369;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: #384d52;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #384d52;
}
.navbar-default .navbar-toggle {
    border-color: #384d52;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #384d52;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #384d52;
    }
}
/**************************TOP NAVIGATION END**************************/
/**************************Properties listing page start **************************/
.main-content{

}
.chatbox{
    color: white;
    min-height: 72px;
    margin-top: 72px;
    background: rgb(107, 137, 143) none repeat scroll 0% 0%;
}
.chatbox a{
    color: white;
}
.sort{
    padding-right: 40px;
}
.item-image{
    background: url(../img/icon_reciprocity.png) no-repeat;
    background-size: cover;
    display: inline-block;
}
.item-set{
    margin-bottom: 15px;
    color: #4052C1;
}
.listing_item_photo {
    z-index: 1;
    position: absolute;
    bottom: 5%;
    color: #FFF;
    /*font-size: 0.75rem;*/
    font-weight: 400;
    line-height: 1rem;
    margin: 0px;
    /*padding: 0.1875rem 0.45rem;*/
    right: 85%;
    text-shadow: 0px -0.0625rem 0px rgba(0, 0, 0, 0.35);
}
.pic{
    /*position: absolute;*/
    /*bottom: 10%;*/
    /*left: 10%;*/
}
.price{
    color: gray;
    font-size: 17px;
}
.mls{
    position: absolute;
    bottom: 5%;
    right: 10%;
}
.view_details_btn{
    position: absolute;
    bottom: 0;
    right: 0;
}
.show_more_btn{
    font-size: 14px;
}
.take{
    float: left;
    /*width: 235px;*/
}
.fill{
    width: calc(100% - 235px + 33px * 2);
    float: left;
}
.container{
    margin: 0;
}
@media (max-width: 1400px) {
    .listing_item_photo{
        right: 80%;
    }
}
@media (max-width: 992px) {
    .listing_item_photo{
        right: 75%;
    }
    .content{
        width: 100%;
    }
}
.panel.panel-default{
    width: 220px;
}
/**************************Properties listing page end **************************/
/**************************footer start **************************/
/*.seven-cols{*/
    /*width: 14.285714285714285714285714285714%;;*/
/*}*/
@media (min-width: 1200px) {
    .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
    }
}
@media (min-width: 992px) {
    .row.footer {
        margin-top: 15px;
    }
}
/**************************footer end **************************/