<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dealsonhomes</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav id="navbarMenuTop" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2 col-lg-2">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo_txt">
                    <span class="logo_box_1">
                        <span class="property_logo">Property</span><span class="u_logo">U</span><span class="property_logo1" style="">p</span>
                    </span>
                        <span class="logo_box_2">TRUSTED REAL ESTATE ADVISOR</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-lg-10">
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li class="main_item dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">Search for Sale</a>
                            <ul class="dropdown-menu">
                                <li class="menu-item dropdown dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Existing Homes New Search</a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chicago,illinois Homes for Sale</a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chicago,illinois Residential Homes for Sale</a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chicago,illinois Foreclosed Homes for Sale</a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chicago,illinois Condos for Sale</a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chicago,illinois Lots & Lands for Sale</a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chicago,illinois New Homes for Sale</a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chicago,illinois Townhouses for Sale</a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chicago,illinois Multi-Family Homes for Sale</a>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chicago,illinois Commercial Real Estate for Sale</a>
                                </li>
                            </ul>

                        </li>
                        <li class="vertLine"><a href="#">Search for Rent</a></li>
                        <li class="vertLine"><a href="#">Search Commercial</a></li>
                        <li class="vertLine"><a href="#">Search Recent Sales</a></li>
                        <li class="vertLine"><a href="#">Search by Schools</a></li>
                    </ul>
                    <div class="menu_buttons">
                        <a href="#" class="btn_account pull-right">Create account</a>
                        <a href="#" class="btn_login pull-right">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="main" class="container-fluid">
    <div class="row-fluid main_row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 left_side">
            <div style="position: relative;width:100%;">
                <div class="main_container"></div>
                <div class="columns search_form">
                    <div ng-init="tab=1">
                        <div class="row center_text select_search">
                            <div ng-class="{active:tab===1}" class="small-6 columns left1 active">
                                <a href="" ng-click="tab = 1">Buy Property</a>
                            </div>
                            <div ng-class="{active:tab===2}" class="small-6 columns right">
                                <a href="/rentals" ng-click="tab=2">Rent Property</a>
                            </div>
                        </div>
                        <div ng-show="tab===1" class="rows">
                            <div class="small-12 columns">
                                <form id="search_form_res" action="/Redirecting/Redirecting" method="post" class="ng-pristine ng-valid">
                                    <input type="hidden" value="Properties" name="modelName" id="modelName">
                                    <input type="hidden" value="properties" name="controller" id="controller">
                                    <input
                                            class="hmSearFid ui-autocomplete-input" placeholder="Type city, subdivision, or school" id="county_city_zip_code" name="Properties[county_city_zip_code]" type="text" value="chicago,illinois" autocomplete="off"></form>
                            </div>
                        </div>
                        <div ng-show="tab===2" class="rows hide">
                            <div class=" columns">
                                <form id="search_form_res2" action="/Redirecting/Redirecting" method="post" class="ng-pristine ng-valid"><input type="hidden" value="Properties" name="modelName" id="modelName"><input type="hidden" value="properties" name="controller" id="controller"><input
                                        class="hmSearFid ui-autocomplete-input" placeholder="Type city, subdivision, or school" id="county_city_zip_code_rent" name="Properties[county_city_zip_code]" type="text" value="chicago,illinois" autocomplete="off"></form>
                            </div>
                        </div>
                        <div class="refine">
                            <a href="/mlssale/chicago,illinois/filter/true">Refine Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 right_side">
            <div class="row-fluid">
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            <div class="property_item">
                                <div class="main_search item">
                                    <div class="search_item">

                                        <span class="badge criteria">DEAL CONTRACT</span>


                                        <a href="#">
                                            <img src="img/NoImageAvailable_320x320.jpg">

                                            <div class="search_item_description">
                                                <div class="search_item_description_box_1">
                                                    <p class="item_price">$1200</p>

                                                    <p class="item_location">
                                                        <span class="item_location_box_1">Address 1</span>
                                                        <span class="item_location_box_2">Address 2</span>
                                                    </p>

                                                    <p class="item_price">
                                                    </p>
                                                </div>
                                                <div class="search_item_description_box_2">
                                                    <h4 class="item_title">Title</h4>

                                                    <p class="item_details">

                                                        <span class="item_param_1">2 beds</span>
                                                        <span class="item_param_2">4 baths</span>
                        <span class="item_param_3">

                    </span>
                                                        <span class="item_id"><span class="icon_reciprocity"></span>MLS ID: #123123</span>
                                                        <span class="item_param_4">property type</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="#" class="button round search_item_photo"><i class="fa fa-camera"></i>5</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            <div class="property_item">
                                <div class="main_search item">
                                    <div class="search_item">

                                        <span class="badge criteria">DEAL CONTRACT</span>


                                        <a href="#">
                                            <img src="img/NoImageAvailable_320x320.jpg">

                                            <div class="search_item_description">
                                                <div class="search_item_description_box_1">
                                                    <p class="item_price">$1200</p>

                                                    <p class="item_location">
                                                        <span class="item_location_box_1">Address 1</span>
                                                        <span class="item_location_box_2">Address 2</span>
                                                    </p>

                                                    <p class="item_price">
                                                    </p>
                                                </div>
                                                <div class="search_item_description_box_2">
                                                    <h4 class="item_title">Title</h4>

                                                    <p class="item_details">

                                                        <span class="item_param_1">2 beds</span>
                                                        <span class="item_param_2">4 baths</span>
                        <span class="item_param_3">

                    </span>
                                                        <span class="item_id"><span class="icon_reciprocity"></span>MLS ID: #123123</span>
                                                        <span class="item_param_4">property type</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="#" class="button round search_item_photo"><i class="fa fa-camera"></i>5</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            <div class="property_item">
                                <div class="main_search item">
                                    <div class="search_item">

                                        <span class="badge criteria">DEAL CONTRACT</span>


                                        <a href="#">
                                            <img src="img/NoImageAvailable_320x320.jpg">

                                            <div class="search_item_description">
                                                <div class="search_item_description_box_1">
                                                    <p class="item_price">$1200</p>

                                                    <p class="item_location">
                                                        <span class="item_location_box_1">Address 1</span>
                                                        <span class="item_location_box_2">Address 2</span>
                                                    </p>

                                                    <p class="item_price">
                                                    </p>
                                                </div>
                                                <div class="search_item_description_box_2">
                                                    <h4 class="item_title">Title</h4>

                                                    <p class="item_details">

                                                        <span class="item_param_1">2 beds</span>
                                                        <span class="item_param_2">4 baths</span>
                        <span class="item_param_3">

                    </span>
                                                        <span class="item_id"><span class="icon_reciprocity"></span>MLS ID: #123123</span>
                                                        <span class="item_param_4">property type</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="#" class="button round search_item_photo"><i class="fa fa-camera"></i>5</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            <div class="property_item">
                                <div class="main_search item">
                                    <div class="search_item">

                                        <span class="badge criteria">DEAL CONTRACT</span>


                                        <a href="#">
                                            <img src="img/NoImageAvailable_320x320.jpg">

                                            <div class="search_item_description">
                                                <div class="search_item_description_box_1">
                                                    <p class="item_price">$1200</p>

                                                    <p class="item_location">
                                                        <span class="item_location_box_1">Address 1</span>
                                                        <span class="item_location_box_2">Address 2</span>
                                                    </p>

                                                    <p class="item_price">
                                                    </p>
                                                </div>
                                                <div class="search_item_description_box_2">
                                                    <h4 class="item_title">Title</h4>

                                                    <p class="item_details">

                                                        <span class="item_param_1">2 beds</span>
                                                        <span class="item_param_2">4 baths</span>
                        <span class="item_param_3">

                    </span>
                                                        <span class="item_id"><span class="icon_reciprocity"></span>MLS ID: #123123</span>
                                                        <span class="item_param_4">property type</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="#" class="button round search_item_photo"><i class="fa fa-camera"></i>5</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            <div class="property_item">
                                <div class="main_search item">
                                    <div class="search_item">

                                        <span class="badge criteria">DEAL CONTRACT</span>


                                        <a href="#">
                                            <img src="img/NoImageAvailable_320x320.jpg">

                                            <div class="search_item_description">
                                                <div class="search_item_description_box_1">
                                                    <p class="item_price">$1200</p>

                                                    <p class="item_location">
                                                        <span class="item_location_box_1">Address 1</span>
                                                        <span class="item_location_box_2">Address 2</span>
                                                    </p>

                                                    <p class="item_price">
                                                    </p>
                                                </div>
                                                <div class="search_item_description_box_2">
                                                    <h4 class="item_title">Title</h4>

                                                    <p class="item_details">

                                                        <span class="item_param_1">2 beds</span>
                                                        <span class="item_param_2">4 baths</span>
                        <span class="item_param_3">

                    </span>
                                                        <span class="item_id"><span class="icon_reciprocity"></span>MLS ID: #123123</span>
                                                        <span class="item_param_4">property type</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="#" class="button round search_item_photo"><i class="fa fa-camera"></i>5</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            <div class="property_item">
                                <div class="main_search item">
                                    <div class="search_item">

                                        <span class="badge criteria">DEAL CONTRACT</span>


                                        <a href="#">
                                            <img src="img/NoImageAvailable_320x320.jpg">

                                            <div class="search_item_description">
                                                <div class="search_item_description_box_1">
                                                    <p class="item_price">$1200</p>

                                                    <p class="item_location">
                                                        <span class="item_location_box_1">Address 1</span>
                                                        <span class="item_location_box_2">Address 2</span>
                                                    </p>

                                                    <p class="item_price">
                                                    </p>
                                                </div>
                                                <div class="search_item_description_box_2">
                                                    <h4 class="item_title">Title</h4>

                                                    <p class="item_details">

                                                        <span class="item_param_1">2 beds</span>
                                                        <span class="item_param_2">4 baths</span>
                        <span class="item_param_3">

                    </span>
                                                        <span class="item_id"><span class="icon_reciprocity"></span>MLS ID: #123123</span>
                                                        <span class="item_param_4">property type</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="#" class="button round search_item_photo"><i class="fa fa-camera"></i>5</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            <div class="property_item">
                                <div class="main_search item">
                                    <div class="search_item">

                                        <span class="badge criteria">DEAL CONTRACT</span>


                                        <a href="#">
                                            <img src="img/NoImageAvailable_320x320.jpg">

                                            <div class="search_item_description">
                                                <div class="search_item_description_box_1">
                                                    <p class="item_price">$1200</p>

                                                    <p class="item_location">
                                                        <span class="item_location_box_1">Address 1</span>
                                                        <span class="item_location_box_2">Address 2</span>
                                                    </p>

                                                    <p class="item_price">
                                                    </p>
                                                </div>
                                                <div class="search_item_description_box_2">
                                                    <h4 class="item_title">Title</h4>

                                                    <p class="item_details">

                                                        <span class="item_param_1">2 beds</span>
                                                        <span class="item_param_2">4 baths</span>
                        <span class="item_param_3">

                    </span>
                                                        <span class="item_id"><span class="icon_reciprocity"></span>MLS ID: #123123</span>
                                                        <span class="item_param_4">property type</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="#" class="button round search_item_photo"><i class="fa fa-camera"></i>5</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6">
                    <div class="row-fluid">
                        <div class="col-xs-12">
                            <div class="property_item">
                                <div class="main_search item">
                                    <div class="search_item">

                                        <span class="badge criteria">DEAL CONTRACT</span>


                                        <a href="#">
                                            <img src="img/NoImageAvailable_320x320.jpg">

                                            <div class="search_item_description">
                                                <div class="search_item_description_box_1">
                                                    <p class="item_price">$1200</p>

                                                    <p class="item_location">
                                                        <span class="item_location_box_1">Address 1</span>
                                                        <span class="item_location_box_2">Address 2</span>
                                                    </p>

                                                    <p class="item_price">
                                                    </p>
                                                </div>
                                                <div class="search_item_description_box_2">
                                                    <h4 class="item_title">Title</h4>

                                                    <p class="item_details">

                                                        <span class="item_param_1">2 beds</span>
                                                        <span class="item_param_2">4 baths</span>
                        <span class="item_param_3">

                    </span>
                                                        <span class="item_id"><span class="icon_reciprocity"></span>MLS ID: #123123</span>
                                                        <span class="item_param_4">property type</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <a href="#" class="button round search_item_photo"><i class="fa fa-camera"></i>5</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" class="footer navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-6 panel-footer" style="background-color: white; text-align: center">
                <div class="row-fluid">
                    <div style="background-color: #e9e9e9">
                        <p>Most popular cities</p>
                    </div>
                    <div class="col-xs-3">
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                    </div>
                    <div class="col-xs-3">
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                    </div>
                    <div class="col-xs-3">
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                    </div>
                    <div class="col-xs-3">
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 panel-footer" style="background-color: white; text-align: center">
                <div class="row-fluid">
                    <div style="background-color: #e9e9e9">
                        <p>Most popular cities</p>
                    </div>
                    <div class="col-xs-3">
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                    </div>
                    <div class="col-xs-3">
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                    </div>
                    <div class="col-xs-3">
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                    </div>
                    <div class="col-xs-3">
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                        <div>Algonquin(320)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>